/* Preload images */


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    background-color: #e8f9fc;
    color: #000000;
    width: 1200px;
    margin: 0 auto;

    padding-left: 0px;
    padding-right: 0px;
}

a {
    text-decoration: none;
}

b {
    font-size: 2em;
    color: #1466cb
}


#thesis1 {
     text-align: justify;
     margin:50px 0px 6px 20px;
     color:#1466cb;
     font-size:1.2em;
     font-weight: initial;
     display: block;
     line-height:1.5em;
}
#thesis2, #thesis3, #thesis4, #thesis5, #thesis6 {
     text-align: justify;
     margin:10px 0px 6px 20px;
     color:#1466cb;
     font-size:1.2em;
     font-weight: initial;
     display: block;
     line-height:1.5em;
}

.toggle11, .toggle21, .toggle31, .toggle41, .toggle51, .toggle61 {
    display: none; 
    
    margin:10px 0px 6px 0px;
    
    height: auto;
   
    text-align:center;
    
}

.toggle12, .toggle13, .toggle22, .toggle23, .toggle32, .toggle33, .toggle42, .toggle43, .toggle52, .toggle53, .toggle62, .toggle63 {
    display: none; 
    
    margin:10px 0px 6px 0px;
    
    height: auto;
   
    text-align:center;
    
}

#click11, #click21, #click31, #click41, #click51, #click61 {
     border-style:outset; 
     text-align:center; 
     background-color:#e8f9fc;
     margin:10px 840px 0px 60px;
     color:#7e1a1a;
     font-size:1em;
     font-weight: initial;
     display: block;
     border-radius: 15px;

}
#click12, #click13, #click22, #click23, #click32, #click33, #click42, #click43, #click52, #click53, #click62, #click63 {
     border-style:outset; 
     text-align:center; 
     background-color:#e8f9fc;
     margin:0px 840px 0px 60px;
     color:#7e1a1a;
     font-size:1em;
     font-weight: initial;
     display: block;
     border-radius: 15px;

}
#thesis{
    float: left;
    width: 100%;

}
#thesis ul {
    margin: 20px 0px 20px 40px;
}

#thesis li{
    text-align: justify; 
    font-weight: lighter; 
    font-size:14px; 
    padding: 5px 0px 5px 0px;
    margin: 0px;

    list-style-type: circle;
}
#header {
    
    width: 100%;
    
}

#sublogo {
    float: left;
    display: block;
    height: 256px;
    width: 100%;

    background:url(../Main.Image/digtal_image_processing.jpg) no-repeat top left;
    /*    background:url(digtal_image_processing.jpg) no-repeat top left;*/

    background-color: #2c70d1;
}


#sublogo ul{
    padding-top: 0px;
    padding-left: 100px;
}
#sublogo li {
    list-style: none;
    margin: 0;
    padding: 20px 0px 0px 100px;
    font-size: 1.5em;
    
    }      
#sublogo h2 {
	padding-left: 180px;
    padding-top:30px;
    font-size: 1.2em;
    margin: 0px;
	
}
#sublogo h1 {
	padding-left: 200px;
    padding-top:30px;
    font-size: 3.5em;
    margin: 0px;
	
}
#sublogo a:link, #sublogo a:visited {
    color: #ffffff;
       
}

#sublogo a:hover, #sublog a:active {
    color: #ff0000;
        
}


         

#processing {
    width: 100%;
}
#processing-image {
    width: 380px;
    height: 125px;
    float: left;
}

img.center-image {
    float: left;
}

#page {
    position: relative;
   
}

img {
    width: auto;
}
#images {
    float: left;
    width: 100%;
    margin: 0px;

    padding-left: 0px;
    padding-bottom: 20px;
    background: #554d4d;
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
    border-color: white;
}

.gallery {
    width: 100%;
	cursor: default;
	list-style: none;
}
.gallery img {
	background: #ccc;
	border-color: #fff;
	border-style: inset;
	border-width: 2px;
	color: inherit;
	padding: 1px;
	vertical-align: top;
	width: 120px;
	height: 80px;
}
.gallery li {
	background: #ccc;
	border-color: #aaa #fff #555 #999;
	border-style: outset;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 2px;
	padding: 4px;
	position: relative;
}

#elevation {
    display: none;
    }
#hide_e {
    display: none;
    }

#hide_p {
    display: none;
    }
#show_e {
    display: block;
    }
#show_p {
    display: block;
    }
#photos {
    display: none;
}
.fakelink {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #13439c;
    }

#footer {
    float: left;
    width: 100%;
    height: 60px;

    color: #999;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-top: 5px;
    margin-bottom: 0px;
    border-radius: 0px;
   

    }
 

