#subChapter {
    width: 550px;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#subChapterChild { 
    width: 550px; 
    margin: 0 auto; 
} 

#subChapterChild p { 
    text-indent: 0.31cm; 
    text-align: justify; 
    line-height: 1.6; 
    margin: 10px 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 12px; 
    color: black; 
}

#subChapterChild p.caption { 
    margin-top: 4px; 
    width: 70%; /* 캡션 폭을 전체의 80%로 제한 */ 
    margin-left: auto; /* 자동 좌측 여백 */ 
    margin-right: auto; /* 자동 우측 여백 */ 
    text-align: center; 
    font-size: 10px; 
    color: #333; 
    line-height: 1.5; }

#subChapter b {
    font-size: 1.3em;
    color: #1466cb;
}

#subChapterChild b {
    font-size: 1.0em;
    color: #1466cb;
    display: block;
    margin: 10px 0;
}

img.top-img { 
    display: block; 
    margin: 20px auto; 
    max-width: 80%; 
    height: auto; 
}

#subChapterChild i {
    display: block;
    font-size: 10px;
    line-height: 16px;
    margin-top: 20px;
    color: #555;
}

#subChapterChild p.reference { 
    margin-top: 0px; 
    width: 100%; /* 캡션 폭을 전체의 80%로 제한 */ 
    margin-left: auto; /* 자동 좌측 여백 */ 
    margin-right: auto; /* 자동 우측 여백 */ 
    text-align: left; 
    font-size: 10px; 
    color: #555; 
    font-style: italic;
    line-height: 1.0; }



